* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  margin-top: 30px;
 
  padding-top: 10px;
}
.wrap div {
  width: 130px;
  height: 100px;
  
   
}
.facebook_ico {
  background: url(secondSocial.png)  -327px -195px;
}
.facebook_ico:hover {
  /* background: url(secondSocial.png) -185px -197px; 145  y= 123 */
  background: url(secondSocial.png) -40px -195px;
}
.facebook_ico:active {
  background: url(secondSocial.png) -900px -195px;
}
.whatsapp_ico {
  background: url(secondSocial.png) -327px -317px;
}
.whatsapp_ico:hover {
  background: url(secondSocial.png) -40px -317px;
}
.whatsapp_ico:active {
  background: url(secondSocial.png) -900px -317px;
}
.skype_ico {
  background: url(secondSocial.png) -327px -440px;
}
.skype_ico:hover {
  background: url(secondSocial.png) -40px -440px;
}
.skype_ico:active {
  background: url(secondSocial.png) -900px -440px;
}
.googlePlus_ico {
  background: url(secondSocial.png) -327px -563px;
}
.googlePlus_ico:hover {
  background: url(secondSocial.png) -40px -563px; /*565   287*/
}
.googlePlus_ico:active {
  background: url(secondSocial.png) -900px -563px;
}
.roseBasket_ico {
  background: url(secondSocial.png) -327px -685px;
}
.roseBasket_ico:hover {
  background: url(secondSocial.png) -40px -685px;
}
.roseBasket_ico:active {
  background: url(secondSocial.png) -900px -685px;
}
.printest_ico {
  background: url(secondSocial.png) -327px -807px;
}
.printest_ico:hover {
  background: url(secondSocial.png) -40px -807px;
}
.printest_ico:active {
  background: url(secondSocial.png) -900px -807px;
}
.twitter_ico {
  background: url(secondSocial.png) -327px -929px;
}
.twitter_ico:hover {
  background: url(secondSocial.png) -40px -929px;
}
.twitter_ico:active {
  background: url(secondSocial.png) -900px -929px;
}
