/*
* Background Images - Practice
* CSS Styles
*
*/
/* General */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  overflow: hidden;
}

/* Header */
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu li {
  width: 82px;
  height: 51px;
  overflow: hidden;
  margin-right: 10px;
  text-align: center;
  line-height: 50px;
}
.menu li a {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#topbar .container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/bg-01.jpg);

  background-repeat: no-repeat;
  background-position-x: -43px;
  background-position-y: -201px;
  background-size: 105% 820px;
}

a.button {
  display: flex;
  box-sizing: border-box;
  background: rgb(224, 6, 12);
  background: linear-gradient(
    90deg,
    rgba(224, 6, 12, 1) 0%,
    rgba(250, 49, 93, 1) 52%
  );
  justify-content: center;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 52px;
  width: 290px;
  height: 53px;
  color: white;
  margin-top: 52px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  margin-left: 216px;
}
/* .menu li a{
    color: white;
} */
.menu li:hover {
  background-color: rgb(186 27 52);
  color: white;
  cursor: pointer;
  /*216px margin-left*/
}

.container:nth-child(2) {
  width: 100%;
  height: 480px;
  /* background: url(../img/bg-01.jpg) no-repeat -33px -255px; */
  background: url(../img/bg-01.jpg) no-repeat 0 55%;
  /* background-size: 1415px 860px; */
  /* background-size: 105% 860px; */
  background-size: cover;
}
.container h1 {
  font-family: "Metal Mania";
  font-size: 92px;
  text-align: center;
  color: white;
  padding-top: 90px;
  text-decoration: uppercase;
}

/* Tour */
#tour {
  width: 100%;
  height: 320px;
  background-color: rgb(56, 56, 56);
  background-image: url(../img/bg.png);

  display: flex;
  justify-content: center;
}

.container h2 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(218, 218, 218);
  font-size: 36px;
  font-family: "Open Sans";
  padding-top: 39px;
}
.tour-card,
.madrid {
  width: 198px;
  height: 215px;
}
.tour-card {
  margin-right: 18px;
}
.tour-card * {
  padding-left: 10px;
}
.tour-card .tour-town {
  padding-top: 38px;
}
.tour-card .tour-place i {
  padding-left: 0;
}
.tour-town,
.tour-place {
  color: white;
}
.tour-town {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.tour-date {
  font-style: italic;
  color: white;
}
.tour-card p {
  padding-top: 12px;
  height: 29px;
  overflow: hidden;
}
.tour-card h3 {
  height: 54px;
  overflow: hidden;
}
.madrid {
  /* background-image: url(../img/tour/madrid.jpg); */

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/tour/madrid.jpg);
  background-size: contain;
}

.turin {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/tour/turin.jpg);

  background-size: contain;
}

.hamburg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/tour/hamburg.jpg);

  background-size: contain;
}

.krakow {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/tour/krakow.jpg);

  background-size: contain;
}
.container:nth-child(3) {
  width: 100%;
}
.tour-card {
  display: inline-block;
  margin-top: 20px;
}
.tour-card a.button {
  display: block;
  width: 144px;
  height: 37px;
  background: rgb(224, 6, 12);
  background: linear-gradient(
    90deg,
    rgba(224, 6, 12, 1) 0%,
    rgba(250, 49, 93, 1) 52%
  );
  margin-top: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 11px;
  font-size: 14px;
}

/* Gallery */
#gallery {
  height: 740px;
  background-image: url(../img/bg.png);
  background-color: rgb(56, 56, 56);
}

#gallery .container {
  display: grid;
  position: relative;
  left: -5px;
  grid-template-columns: repeat(3, 276px);
  grid-gap: 18px;

  justify-content: center;
}
#gallery .container h2 {
  margin-bottom: 40px;
  grid-column: 1/-1;
}

figure.photo a img {
  width: 269px;
  height: 269px;
}
/* Subscribe */
#subscribe {
  height: 300px;
}
#subscribe .container {
  height: 100%;

  background-repeat: no-repeat;
  background-position-y: 48%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/bg-02.jpg);
  background-size: cover;
}
#subscribe .container h2 {
  padding-top: 75px;
  font-weight: 100;
}
#subscribe .container p {
  text-align: center;
  font-size: medium;
  padding-top: 42px;
  color: white;
  font-family: "Open Sans";
  font-size: 19px;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
.subscribe-form input {
  width: 210px;
  height: 40px;
  padding-left: 10px;
}
button {
  width: 126px;
  height: 42px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(224, 6, 12, 1) 0%,
    rgba(250, 49, 93, 1) 52%
  );
  margin-left: 3px;
  border: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
/* Footer */
footer {
  width: 100%;
  height: 97px;
  background-color: rgb(56, 56, 56);
}
.social a {
  padding-top: 30px;
  color: white;
  margin-right: 10px;
}
.social {
  display: flex;
  justify-content: center;
}

footer .copyright {
  text-align: center;
  padding-top: 17px;
  color: white;
  margin-bottom: 23px;
}
