* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  color: rgb(170, 170, 170);
}

#topbar {
  width: 100%;
  height: 93px;
  background-color: white;
 
}
.logo_name {
  display: inline-block;
  padding-left: 16.5%;
  padding-top: 29px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29px;
  color: rgb(89, 171, 227);
}
 
ul.menu {
  display: block;
  text-align: right;
  margin-right:17%;
  margin-top: -2.5%;
 
}
ul.menu li {
  display: inline-block;
  padding-right: 1.3%;
  padding-top: 0px;
  font-size: 14px;
  font-weight: 600;
}
ul.menu li a {
  color: rgb(170, 170, 170);
}

.short_present {
  width: 100%;
  height: 385px;
  background-image: url(img/jumbotron.jpg);
  background-size: cover;
}
.landing_text {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 39px;
  text-align: center;
  padding-top: 95px;
 padding-left: 0;
}
.button {
  width: 222px;
  height: 57px;
  border-radius: 30px;
  background-color: rgb(250, 91, 165);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 19px;
   color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}
.service {
  width: 100%;
  height: 375px;
  font-family: Helvetica;
  color: black;
  text-align: center;
  
  padding-top: 65px;
  padding-left: 0;
  font-size: 28px;
  font-weight: 400;
   
  align-items: center;
}
.wrapItems {
  display: flex;

  align-items: center;
  justify-content: center;
 
}
.item {
  margin-top: 50px;
  width: 288px;
  height: 180px;
     margin-right: 20px;
  display: inline-block;
  font-size: 16px;
  color: silver;
  overflow: hidden;
}
.item p{
    padding-top: 27px;
    padding-left: 2px;
}
.blog {
  width: 100%;
  height: 645px;
  background-color: rgb(252, 252, 252);
 text-align: center;
  
}
 
 
.chapter_blog{
     width:932px;
     margin: 0 auto; 
    display: flex;
    margin-top: 20px;
}
 
.center_chapter{
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    padding-top: 33px;
    padding-right: 5px;
   
}
 
.header_chapter{
    display: inline-block;
    
    font-size: 25px;
    padding-right: 30px;
    padding-top: 27px;
    font-weight: 600;
}
.date_published{
    display: block;
    text-align: left;
    padding-left: 27px;
    padding-top: 28px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(170, 170, 170);
}
.short_description{
    padding-left: 27px;
    font-size: 13px;
    padding-top: 17px;
    width:586px;
    text-align: left;
    font-weight: 600;
    color: rgb(170, 170, 170);
}
  
.foot_info{
height: 245px;
background-color: rgb(56, 64, 75);
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.footer_logo{
    display: inline-block;
    font-size: 28px;
    margin-right: 0;
    margin-top: -4px;
    padding-top: 50px;
    font-weight: 700;
   
}
.foot_info ul{
    margin-left: 13px;
}
.foot_info ul li{
    display: inline-block;
    padding-right: 13px;
    padding-top: 25px;
    font-weight: 600;
}
.rights{
    display: inline-block;
    padding-top: 31px;
    padding-left: 0;
    font-size: 12px;
    font-weight: bolder;
    color: white;
}
 