.links { 
    background-color: #F6967D;
}
.links a {
    color: #FFFDEB;
    display: inline-block;
    border-right: 1px solid #B62025;
    padding: 5px 10px;
}
.links a:last-child{
    border-right: none;   
}