* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrap {
  width: 863px;
  height: 480px;
  margin: 50px auto;
  display: flex;
  border:1px solid silver;
  position: relative;
}
.wrap::before,.wrap::after{
  content: '<';
  text-align: center;
 
  display: block;
  width: 40px;
  box-sizing: border-box;
  padding-top: 10px;
  height: 40px;
  border: 2px solid silver;
  z-index: 2;
  font-weight:700;
  background-color: white;
  color:silver;
  border-radius: 50%;
  position: absolute;
  top: 75px;
}
.wrap::before{
  left: -20px;

}
.wrap:hover::after,.wrap:hover::before{
  cursor: pointer;
}
.wrap::after{
 content: '>';
 right: -20px;
 padding-left: 3px;
}

.image_product{
  
width:180px;
height:145px;
/* border:1px solid; */
margin-left: 16px;
margin-top: 30px;
}
.card{
   
  width: 243px;
   
  border-right: 1px solid silver;
  
}
.card:nth-child(4){
  border-right: none;
}
.card:nth-child(1),.card:nth-child(3),.card:nth-child(4){
  position: relative;
}
.card:nth-child(1)::after,.card:nth-child(3)::after,.card:nth-child(4)::after {
  display: block;
  content: 'Новинка';
  font-size: 12px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 8px;
  background-color: rgb( 134 176 34);
  color: white;
  width: 80px;
  height: 80px;
  border: 3px solid white;
  border-radius: 50%;
  text-transform: uppercase;
  position: absolute;
  top: -40px;
  right: 4px;
}
.card:nth-child(3)::after,.card:nth-child(4)::after{
  content: 'Хіт продажів';
  display: inline-block;
  text-align: center;
  padding-top: 23px;
  padding-left: 0;
  background-color: rgb(0, 152, 225);
}
.chapter{
width: 185px;
height: 96px;
margin-left: 15px;
border-bottom:1px solid silver;
 
}
.chapter_name{
   
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(125, 137, 161);
  text-transform: uppercase;
  text-align: center;
 padding-top:40px ;
}
.price_product{
  
  width:165px;
  height:40px;

  margin-left: 30px;
  text-align: center;
  margin-top: 30px;
}
.old_price{
  font-size: 12px;
  text-decoration: line-through;
  font-weight: 600;
  margin-right: 4px;
}
.current_price{
  font-size: 16px;
 
}
 
.not_available, .to_basket{
  width:140px;
  height:44px;
   
  background-color:rgb(204 51 153);
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-left: 41px;
  padding-top: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
a.name_product{
  display: inline-block;
   color: rgb(25, 162, 230);
   font-weight: 600;
   text-transform: uppercase;
text-align: center;
     
  }
  .to_basket{
    width:140px;
    height:44px;
    background-color: rgb(240, 229, 36);
    color:black;
    padding-top: 15px;
    font-weight: 700;
  
  }
  .only_price{
    font-weight: 700;
  }
.to_basket:hover{
  cursor: pointer;

}
 
a{
  max-width: 213px;
  text-decoration: none;
  height:36px;
  overflow:hidden;
}
 