.fullwrap{
width: 960px;
height: auto;
border:1px solid black;
margin: 0 auto;
}
.header{
	width: 95%;
	height: 80px;
	border:1px solid black;
	margin: 10px auto;
	text-align: center;
}

.wrap{
width: 95%;
height: 500px;
border: 1px solid black;
margin: 10px auto;
}

.main{
	width: 500px;
	border: 1px solid black;
	height: 90%;
	float: left;
	margin-left: 20px;
	margin-top: 20px;

}

.sidebar{
width: 300px;
margin-left: 70px;
margin-top: 20px;
display: inline-block;
height: 90%;
border: 1px solid black;
clear: both;

 
}
.footer{
	width: 95%;
	border: 1px solid black;
	margin: 10px auto;
	margin-bottom: 35px;
	height: 100px;
	 
}
 